.App {
    text-align: center;
    background-color: darkgray;
    min-height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppBody {
    background: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink{
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
        
    }
}

.strudelAnimation {
    animation: blink 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode:forwards;
    animation-play-state: running;
}

.strudelAnimation:hover {
    animation-play-state: paused;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#playAndStop{
    border-left: 4px solid #3700ff;
    background-color:aliceblue;
}

#djControls {
    border-left: 4px solid #34A853;
    color: white;
    padding: 30px;
    box-shadow: -5px 12px 15px rgb(255, 255, 255, 1.00);
    background: linear-gradient(315deg, #5A4FCF 0%, #242124 74%);
}
   
.graph-container {
    background: linear-gradient(315deg, #003366 0%, #242124 74%);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 12px 20px rgb(255, 255, 255, 0.82);
    margin: auto;
}

#graphHeader{
    color:white;
}

#process {
    background-color: rgb(0, 0, 0);
    border-color: rgb(255 164 21);
    border-radius: 25px;
    border-width: thick;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.7);
}
#process_play {
    background-color: rgb(0, 0, 0);
    border-color: rgb(49, 255, 202);
    border-radius: 25px;
    border-width: thick;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.7);
}
#play {
    background-color: rgb(0, 0, 0);
    border-color: rgb(154 255 0);
    border-radius: 25px;
    border-width:thick;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.7);
}
#stop {
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 119);
    border-radius: 25px;
    border-width: thick;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.7);
}
#save {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 208, 255);
    border-radius: 25px;
    border-width: thick;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.7);
}
#load {
    background-color: rgb(9, 4, 4);
    color: azure;
    border-color: rgb(229, 255, 0);
    border-radius: 25px;
    border-width: thick;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.7);
}

#process:hover {
    background-color: rgb(255 170 36);
    transform: scale(1.08);
}
#process_play:hover {
    background-color: rgb(49, 255, 202);
    transform: scale(1.08);
}
#play:hover {
    background-color: rgb(154 255 0);
    transform: scale(1.08);
}
#stop:hover {
    background-color: rgb(255, 0, 119);
    transform: scale(1.08);
}
#save:hover {
    background-color: rgb(0, 208, 255);
    transform: scale(1.08);
}
#load:hover {
    background-color: rgb(229, 255, 0);
    transform: scale(1.08);
}


